$primary-color: #fffc65;
$background-image: url('/assets/Fondo.jpg');
$background-mobile: url('/assets/Fondomobile.jpg');
$background-contact: url('/assets/Fondo320.jpg');
$background-bio: url('/assets/Logowidth.jpg');
$background-title: url('/assets/Logowidthcolor-fotor-bg-remover-20241211175549.png');
$background-video: url('/assets/Maratonika.mp4')