.main-section {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), $background-image;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .container {
        padding-top: 0;

        p {
            font-size: 1.2rem;
            color: #fff;
            margin-bottom: 2rem;
        }
    }

    .img-fluid {
        max-width: 30%;
        height: auto;
    }

    .videos {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;

        iframe {
            width: 100%;
            max-width: 320px;
            aspect-ratio: 16 / 9;
            border: none;
        }
    }
}

#contact-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), $background-contact;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    .contact-form {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    
        form {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 2rem;
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            max-width: 400px; // Limit the width for smaller screens
            width: 100%;
    
            label {
                font-size: 1rem;
                color: #333;
            }
    
            input, textarea {
                font-size: 1rem;
                padding: 0.5rem;
                border: 1px solid #ccc;
                border-radius: 4px;
    
                &:focus {
                    outline: none;
                    border-color: #1f53e0;
                    box-shadow: 0 0 5px rgba(31, 83, 224, 0.5);
                }
            }
    
            button {
                font-size: 1rem;
                background-color: #1f53e0b0;
                color: white;
                border: none;
                padding: 0.75rem;
                border-radius: 4px;
                cursor: pointer;
                transition: background-color 0.3s ease;
    
                &:hover {
                    background-color: #4d17e0;
                }
    
                &:focus {
                    outline: none;
                    box-shadow: 0 0 5px rgba(77, 23, 224, 0.377);
                }
            }
        }
    }
}